/* IMPOSTAZIONI GENERALI */

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

/* HEADER */
header {
   background: linear-gradient(5deg, #2f6b85, #4498bf);
}
/* MAIN */

/* ELEMENTI NEL MAIN - ARTICLE */

/* TABELLE */

/* FORM */

/* ELEMENTI NELL' ASIDE */

/* FOOTER */
